<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="CreateDelete">
    <classes>
      <class name="com.simpletest.TC_02CreateDeleteUserdata"/>
    </classes>
  </test>
    <test name="AllEmployees">
    <classes>
      <class name="com.simpletest.TC_01GetUserdata"/>
    </classes>
  </test>
    <test name="EmployeeID">
    <classes>
      <class name="com.simpletest.TC_05getemployee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
